In [83]:
import re
import pandas as pd
mpi_data=[]
seq_data=[]
with open('./mpi.log') as mpi_res:
    for line in mpi_res:
        numbers = re.findall(r'\d+\.*\d*', line)
        mpi_data.append(numbers)
with open('./seq.log') as seq_res:
    for line in seq_res:
        numbers = re.findall(r'\d+\.*\d*', line)
        seq_data.append(numbers)

In [84]:
# 将数据转换为 DataFrame
df_mpi = pd.DataFrame(mpi_data, columns=['Matrix N', 'MPI Execution time', 'Worker num'])
df_seq= pd.DataFrame(seq_data, columns=['Matrix N', 'Sequence Execution time'])

# 将字符串列转换为数值型
df_mpi['Matrix N'] = pd.to_numeric(df_mpi['Matrix N'])
df_mpi['MPI Execution time'] = pd.to_numeric(df_mpi['MPI Execution time'])
df_mpi['Worker num'] = pd.to_numeric(df_mpi['Worker num'])

df_seq['Matrix N'] = pd.to_numeric(df_seq['Matrix N'])
df_seq['Sequence Execution time'] = pd.to_numeric(df_seq['Sequence Execution time'])

# 使用 pivot 方法生成二维表格
table_mpi = df_mpi.pivot(index='Matrix N', columns='Worker num', values='MPI Execution time')
df_seq.set_index('Matrix N',inplace=True)
table_seq=df_seq

table_ratio=pd.DataFrame(table_seq.min(axis=1)/table_mpi.min(axis=1),columns=['Ratio of Seq/MPI'])

In [85]:
display(table_mpi)
display(table_seq)
display(table_ratio)

Worker num,2,4,8,16,32,64,128
Matrix N,,,,,,,
64,0.002139,0.002115,0.002607,0.004094,0.004068,0.005139,NaN
128,0.004790,0.004184,0.005342,0.004314,0.004425,0.005609,0.009353
256,0.017435,0.011829,0.010557,0.012377,0.020662,0.008231,0.012435
512,0.260897,0.137164,0.069938,0.053257,0.036100,0.040034,0.145812
1024,3.832286,1.827503,1.005776,0.553481,0.266648,0.174185,0.173142
2048,73.558947,37.104168,18.910711,12.094203,6.361713,4.008423,1.593901
4096,NaN,NaN,NaN,NaN,NaN,66.677785,41.352301

          Sequence Execution time
Matrix N
64                       0.000183
128                      0.001761
256                      0.015627
512                      0.113060
1024                     0.920368
2048                    13.001336
4096                   256.327926

          Ratio of Seq/MPI
Matrix N
64                0.086525
128               0.420889
256               1.898554
512               3.131856
1024              5.315683
2048              8.156928
4096              6.198638

In [86]:
table_mpi.to_markdown("./tables/mpi.md")
table_seq.to_markdown("./tables/seq.md")
table_ratio.to_markdown("./tables/ratio.md")